{% extends 'main.twig' %}

(% block content %)
<h3>About</h3>
    <p>Hi, I am Brad Price!  This is my design portfolio where I share all of my favorite work.  When I'm not designing things, I enjoy cycling,
        golf, music, Carolina basketball and Braves baseball.</p>
    <p>If you would like to follow Tiffany on Facebook, her username is <a href="tiffany.price.547">@tiffanyprice72</a></p>
(% endblock content %}
            
    
